<!DOCTYPE html>
 <html>
	<head>
		<title>メモ登録</title>
	</head>
	<style>
		
		body{
			background-color:skyblue ;
			text-align: center;
		}
	</style>
	<body>
		<h1>入力された内容は登録されました</h1>
		<br>
		<a href="file:///C:/Users/S0521/Desktop/%E5%8D%92%E6%A5%AD%E5%88%B6%E4%BD%9C%E3%81%A7%E3%82%82/home.html">
			<button type="button">ホーム画面</button>
	</a>
	<a href="file:///C:/Users/S0521/Desktop/%E5%8D%92%E6%A5%AD%E5%88%B6%E4%BD%9C%E3%81%A7%E3%82%82/memo.html?datetime=&subjects=Java">
		<button type="button">メモ登録</button>
</a>
<a href="file:///C:/Users/S0521/Desktop/%E5%8D%92%E6%A5%AD%E5%88%B6%E4%BD%9C%E3%81%A7%E3%82%82/memoeturan.html">
	<button type="button">メモ閲覧</button>
</a>
	</body>
 </html>